<template>
  <div class="watchlist">
    <article v-if="item < info.data.documents.length" v-for="item in itemsOnWatchlist" :key="item.id" class="node story">
      <p>test</p>
      <h3 class="page-title story__heading">
        <a :href="info.data.documents[item].url" target="_blank">{{ info.data.documents[item].title }}</a>
      </h3>
      <span class="story__category">
        <div v-if="info.data.documents[item].objectType == 'bill'">Bill <strong>{{ info.data.documents[item].billNumber }}</strong> &middot; <span v-if="info.data.documents[item].state">State: <strong>{{ info.data.documents[item].state }}</strong> &middot;</span> Status: <strong>{{ info.data.documents[item].billStatus }}</strong></div>
        <div v-if="info.data.documents[item].type == 'article'"><strong>Article</strong> &middot; <span v-if="info.data.documents[item].site">Source: <strong>{{ info.data.documents[item].site }}</strong></span></div>
      </span>
      {{ item }}
    </article>
    <button class="button" @click="itemsOnWatchlist += 1">thank u, next</button>
  </div>
</template>

<script>
import axios from 'axios'

axios.defaults.baseURL = 'https://dev1.contexture.ai/services';
axios.defaults.headers.common['Authorization'] = 'Bearer eyJraWQiOiJrMSIsImFsZyI6IlJTMjU2In0.eyJpc3MiOiJodHRwczovL2NvbnRleHR1cmUuYWkiLCJhdWQiOiJodHRwczovL2NvbnRleHR1cmUuYWkiLCJleHAiOjE1NTYwNzk0NDgsImp0aSI6InZJeXZWX2h0T05vZWpVemhub3lfS1EiLCJpYXQiOjE1NTU0NzQ2NDgsIm5iZiI6MTU1NTQ3NDUyOCwic3ViIjoidHJvbWJvbmVyZEBnbWFpbC5jb20ifQ.YvXMxW7TMDXp-PkDDtyLtZ4itNjoHoL-h1QViZ6s95GFIHXe4KlDQMaa4iM7tAsyTBlmlTdCenHCSMT3nuJAAbbESw-HYDg4OaHeIWkvlc3CKH2aRovx-0EYpWE1B5DRpEmKeO0-QlSxOUNO7rh-rhW7Da5TVB5Vd9CxDz2VNCxJduNlcrUKbGPsxjaobpWXK8ALWCDH4Teey5JI7QDfDM5QxIwfwksGLLzRoQUF0VSpkn0rLn1HPvTTIhdy0D7z84GKk_mqIGjerPEOWlVTHNQdETIdt2sI_HZb6s2wmbH8ZC5_G0suY3yOMMnVOLYGjGgSK-nB7IgcC9E_nWqXeg';
axios.defaults.headers.post['Content-Type'] = 'application/json';

export default {
  name: 'Watchlist',
  data() {
    return {
      info: null,
      itemsOnWatchlist: 10
    }
  },
  mounted() {
    axios
      .get('/watchlist')
      .then(response => {
        this.info = response
      })
      .catch(function (error) {
        if (error.response) {
          // The request was made and the server responded with a status code
          // that falls out of the range of 2xx
          // console.log(error.response.data);
          // console.log(error.response.status);
          // console.log(error.response.headers);
        } else if (error.request) {
          // The request was made but no response was received
          // `error.request` is an instance of XMLHttpRequest in the browser and an instance of
          // http.ClientRequest in node.js
          // console.log(error.request);
        } else {
          // Something happened in setting up the request that triggered an Error
          // console.log('Error', error.message);
        }
        // console.log(error.config);
      })
  }
}
</script>
