<template>
  <div id="app">
    <h2>Search</h2>
    <label for="name">Name: {{name}}</label>
    <input type="text" name="name" id="name" v-model="name">
    <Search />
    <h2>Recommended for You</h2>
    <Recommendations />
    <h2>Items You've Saved</h2>
    <Watchlist />
    <HelloWorld msg="hey"/>
  </div>
</template>

<script>
import HelloWorld from './components/HelloWorld.vue'
import Watchlist from './components/Watchlist.vue'
import Recommendations from './components/Recommendations.vue'
import Search from './components/Search.vue'

export default {
  name: 'app',
  components: {
    HelloWorld,
    Watchlist,
    Recommendations,
    Search
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
